[submodule "docs/ansible/roles/ansible-postfix"]
	path = docs/ansible/roles/ansible-postfix
	url = https://github.com/debops/ansible-postfix
	branch = master
[submodule "docs/ansible/roles/ansible-rsnapshot"]
	path = docs/ansible/roles/ansible-rsnapshot
	url = https://github.com/debops/ansible-rsnapshot
	branch = master
[submodule "docs/ansible/roles/ansible-secret"]
	path = docs/ansible/roles/ansible-secret
	url = https://github.com/debops/ansible-secret
	branch = master
[submodule "docs/ansible/roles/ansible-nfs"]
	path = docs/ansible/roles/ansible-nfs
	url = https://github.com/debops/ansible-nfs
	branch = master
[submodule "docs/debops"]
	path = docs/debops
	url = https://github.com/debops/debops
	branch = master
[submodule "docs/ansible/roles/ansible-stunnel"]
	path = docs/ansible/roles/ansible-stunnel
	url = https://github.com/debops/ansible-stunnel
	branch = master
