[submodule "docs/ansible/roles/ansible-postfix"]
	path = docs/ansible/roles/ansible-postfix
	url = https://github.com/debops/ansible-postfix
	branch = master
[submodule "docs/ansible/roles/ansible-rsnapshot"]
	path = docs/ansible/roles/ansible-rsnapshot
	url = https://github.com/debops/ansible-rsnapshot
	branch = master
[submodule "docs/ansible/roles/ansible-secret"]
	path = docs/ansible/roles/ansible-secret
	url = https://github.com/debops/ansible-secret
	branch = master
[submodule "docs/ansible/roles/ansible-nfs"]
	path = docs/ansible/roles/ansible-nfs
	url = https://github.com/debops/ansible-nfs
	branch = master
[submodule "docs/debops"]
	path = docs/debops
	url = https://github.com/debops/debops
	branch = master
[submodule "docs/ansible/roles/ansible-stunnel"]
	path = docs/ansible/roles/ansible-stunnel
	url = https://github.com/debops/ansible-stunnel
	branch = master
[submodule "docs/ansible/roles/ansible-dokuwiki"]
	path = docs/ansible/roles/ansible-dokuwiki
	url = https://github.com/debops/ansible-dokuwiki
	branch = master
[submodule "docs/ansible/roles/ansible-dhcpd"]
	path = docs/ansible/roles/ansible-dhcpd
	url = https://github.com/debops/ansible-dhcpd
	branch = master
[submodule "docs/ansible/roles/ansible-dovecot"]
	path = docs/ansible/roles/ansible-dovecot
	url = https://github.com/debops/ansible-dovecot
	branch = master
[submodule "docs/ansible/roles/ansible-fail2ban"]
	path = docs/ansible/roles/ansible-fail2ban
	url = https://github.com/debops/ansible-fail2ban
	branch = master
[submodule "docs/ansible/roles/ansible-preseed"]
	path = docs/ansible/roles/ansible-preseed
	url = https://github.com/debops/ansible-preseed
	branch = master
[submodule "docs/ansible/roles/ansible-ipxe"]
	path = docs/ansible/roles/ansible-ipxe
	url = https://github.com/debops/ansible-ipxe
	branch = master
[submodule "docs/ansible/roles/ansible-tftpd"]
	path = docs/ansible/roles/ansible-tftpd
	url = https://github.com/debops/ansible-tftpd
	branch = master
[submodule "docs/ansible/roles/ansible-tgt"]
	path = docs/ansible/roles/ansible-tgt
	url = https://github.com/debops/ansible-tgt
	branch = master
[submodule "docs/debops-playbooks"]
	path = docs/debops-playbooks
	url = https://github.com/debops/debops-playbooks
	branch = master
[submodule "docs/ansible/roles/ansible-rstudio_server"]
	path = docs/ansible/roles/ansible-rstudio_server
	url = https://github.com/debops/ansible-rstudio_server
	branch = master
[submodule "docs/ansible/roles/ansible-tinc"]
	path = docs/ansible/roles/ansible-tinc
	url = https://github.com/debops/ansible-tinc
	branch = master
[submodule "docs/ansible/roles/ansible-ifupdown"]
	path = docs/ansible/roles/ansible-ifupdown
	url = https://github.com/debops/ansible-ifupdown
	branch = master
[submodule "docs/ansible/roles/ansible-snmpd"]
	path = docs/ansible/roles/ansible-snmpd
	url = https://github.com/debops/ansible-snmpd
	branch = master
[submodule "docs/ansible/roles/ansible-memcached"]
	path = docs/ansible/roles/ansible-memcached
	url = https://github.com/debops/ansible-memcached
	branch = master
[submodule "docs/ansible/roles/ansible-mariadb_server"]
	path = docs/ansible/roles/ansible-mariadb_server
	url = https://github.com/debops/ansible-mariadb_server
	branch = master
[submodule "docs/ansible/roles/ansible-mariadb"]
	path = docs/ansible/roles/ansible-mariadb
	url = https://github.com/debops/ansible-mariadb
	branch = master
[submodule "docs/ansible/roles/ansible-bootstrap"]
	path = docs/ansible/roles/ansible-bootstrap
	url = https://github.com/debops/ansible-bootstrap
	branch = master
[submodule "docs/ansible/roles/ansible-lvm"]
	path = docs/ansible/roles/ansible-lvm
	url = https://github.com/debops/ansible-lvm
	branch = master
[submodule "docs/ansible/roles/ansible-iscsi"]
	path = docs/ansible/roles/ansible-iscsi
	url = https://github.com/debops/ansible-iscsi
	branch = master
[submodule "docs/ansible/roles/ansible-libvirt"]
	path = docs/ansible/roles/ansible-libvirt
	url = https://github.com/debops/ansible-libvirt
	branch = master
[submodule "docs/ansible/roles/ansible-libvirtd"]
	path = docs/ansible/roles/ansible-libvirtd
	url = https://github.com/debops/ansible-libvirtd
	branch = master
[submodule "docs/ansible/roles/ansible-librenms"]
	path = docs/ansible/roles/ansible-librenms
	url = https://github.com/debops/ansible-librenms
	branch = master
[submodule "docs/ansible/roles/ansible-sshd"]
	path = docs/ansible/roles/ansible-sshd
	url = https://github.com/debops/ansible-sshd
	branch = master
[submodule "docs/ansible/roles/ansible-core"]
	path = docs/ansible/roles/ansible-core
	url = https://github.com/debops/ansible-core
	branch = master
[submodule "docs/ansible/roles/ansible-fcgiwrap"]
	path = docs/ansible/roles/ansible-fcgiwrap
	url = https://github.com/debops/ansible-fcgiwrap
	branch = master
[submodule "docs/ansible/roles/ansible-grub"]
	path = docs/ansible/roles/ansible-grub
	url = https://github.com/debops/ansible-grub
	branch = master
[submodule "docs/ansible/roles/ansible-docker"]
	path = docs/ansible/roles/ansible-docker
	url = https://github.com/debops/ansible-docker
	branch = master
[submodule "docs/ansible/roles/ansible-docker_gen"]
	path = docs/ansible/roles/ansible-docker_gen
	url = https://github.com/debops/ansible-docker_gen
	branch = master
[submodule "docs/ansible/roles/ansible-postgresql_server"]
	path = docs/ansible/roles/ansible-postgresql_server
	url = https://github.com/debops/ansible-postgresql_server
	branch = master
